body {
	font-size:16px;
	background-color:#C0C0C0;
	color:#87ceeb;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #800080;
	border-radius: 0;
	border:0;
}

#logo-img {
	background: url('../img/logo.jpg') no-repeat;
	width: 200px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Comic Sans MS';
	color: #ffffff;
	font-size: 1 em;
	/*text-transform: uppercase;*/
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
	font-family: 'Comic Sans MS';
}

#nav-list a {
	color: #ffffff;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0;
}

#phone div {
	color: #0000FF;
	text-align: right;
	padding-right: 15px;
}